
  .createFileBlock{
    display: flex;
    flex-direction: column;
  }
  .imagePreview {
    margin: 20px 0;
    text-align: center;
  }
  
  .imagePreview h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .imagePreview img {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  

 
  